* {
	margin:0;
	padding:0;
}

@font-face { 
    font-family: 'Capture It'; 
    src: url('Capture it.ttf'); 
}
@font-face{
	font-family: 'Nixie One Regular';
	src: url('NixieOne.ttf');
}

body {
	background-image: url(background1.jpg);
	/*padding-top: 250px;*/
	font-family: 'Nixie One Regular';
	font-size: 1.2em;
}

header {
	height:500px;
	/*position:fixed;*/
	top:0;
	width: 100%;
	overflow:hidden;
	padding:0;
}

/*.slideshow {}*/

.slide {
	object-fit:cover;
	/*position: relative!important; */
}

.main-nav {	
	/*background-color: black;*/
	/*height: 3em;*/
	/*height: 50px;*/
	/*width:100%;*/
	/*top:5px;*/
	/*text-align: center;*/
	/*vertical-align: center;*/
	/*position: relative;*/
	z-index: 150;
	/*box-shadow: 0 2px 3px rgba(0,0,0,.4);*/
	/*border:0;*/
	/*border-radius: 0px;*/
    font-family: 'Capture It'; 
}

#marginFix {
	text-align: center;
	/*display: inline;*/
	/*margin-top: 25px;*/

	/*margin-left: 2.5%;*/
	
	/*margin-right: auto;*/
	background-color: black;
	width: 100%;
	/*line-height: 40px;*/
	/*border: 5px solid green;*/
	/*margin-left: 30px;*/
	/*height: 20px;*/
}

#navMenu {
	/*display: inline;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*height: 50px;*/
	/*text-align: center;*/
	/*width: 100%;*/
	/*margin-left: 10%;*/
	/*margin-right:10%;*/
}

#navMenu ul {
	/*height: 100px;*/
	width: 100%;
}

#navMenu li {
	display: block;
	width: 20%;
	/*height: 40px;*/
	/*background-color: black;*/
	/*line-height: 0px;*/
	
	/*float:left; */
	
	/*margin-left: auto ;*/
	/*margin-right: auto;*/
	position: relative;
	/*margin: 0;*/
}

.floatleftlinks {
	float: left;
	/*height: 40px;*/
	width:100%;
}

#navMenu ul {
	width: 100%;
}

#navMenu ul li {
	width: 100%;
}

.subMenuLinks {
	/*text-align: left;*/
	display: block;
	width: 100%;
	/*background-color: black;	*/
}

.subMenu li {
	width: 100%;
}

#navMenu li:hover > a{
	background-color: green;
	/*line-height: 10px;*/
}

#navMenu li a:hover {
	/*display: block;*/
	background-color: yellow;
	/*float: left;*/

}

#navMenu li a{ 
	text-decoration: none;
	display: block;
	line-height: 25px;
	/*height: 0;*/
	/*width: 250px;*/
	/*border: 1px solid white;*/
	background-color: black;
	padding:15px;


}
.subMenu {
	display:none;
	position: absolute;
	width: 100%;
}

#navMenu li:hover .subMenu{
	display: block;

}
.subMenu li a{
	text-decoration: none
}

.active1 {
	font-size:40px;
	/*border:1px solid white;*/
	/*color: purple;*/
}

.navbar-fixed {
	top:0;
    z-index: 100;
  	position: fixed;
    width: 100%;
    /*font-family: 'Capture It'; */
}

#tryout_wrapper {
	/*background-color: white;*/
	/*opacity: 0.5;*/
	/*z-index: -70;*/	
}

.wrapper {
	height: 1050px;
	width: 1100px;
	margin: 0 auto;
	padding: 15px;
	background-color:;
	opacity:;
	z-index: 70;
}

#Pictures_teachers {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

div.box {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 5px;
	border: 1px solid gray;
	width: 200px;
	float: left;
	}	

div.box:hover {
	border: 1px solid #2B2D3C;
	}

div.box img {
	position: relative;
	width: 200px;
	height: 300px;
	/*object-fit: contain;*/
	}

div.desc {
	/*padding: 15px;*/
	text-align: center;
	}

.thumb {
	float: left;
	width: 150px;
	height: 225px;
    background-position: center center;
    background-size: cover;
    }

.thumb:hover{
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);
	}

#contacts {
	/*clear: both;*/
	/*display: block;*/
	/*width: 50%;*/
	/*margin-right: 50%;*/
	height: 300px;
	float: left;
	/*margin-top: 100px;*/
	width: 70%;
}

#test {
	width: 300px;
	border: 1px solid black;
	padding: 0;
	/*margin:0;*/
	/*margin-top: 100px;*/
	margin-right: 600px;
}

iframe {
	float:right;
	/*margin-right: 450px;*/
	/*margin-top: 100px;*/
}

footer {
	border: 1px solid black;
	background-color: black;
	height: 50px;
	display: block;
	/*vertical-align: center;*/
	/*text-align: center;*/
}

#footerMenu {
	float: left;
	/*vertical-align: center;*/
	/*line-height: 25px;*/
	/*width: 40px;*/
	/*padding-left: none;*/
	/*padding-top: 10px;*/
	}

#footerMenu a {
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	/*vertical-align: center;*/
	}

#footerMenu a:hover {
	/*color: yellow;*/
	/*display: block;*/
	background-color: brown;	
}

#footerMenu ul li {
	/*padding-left: 20px;*/
	float: left;
	list-style-type: none;
	display: block;
	/*line-height: 25px;*/
	/*border: 1px solid black;*/
	/*height: 50px;*/
	width: 100px;
	text-align: center;
	/*vertical-align: center;*/
	}

#footerMenu ul {
	display: block; 	
	/*vertical-align: 25px;*/	
	/*padding-left: 10px;*/ 	
	/*line-height: 25px;*/
}

#copyright {
	float: right;
	padding-right: 20px;
	/*height: 100%;*/
	/*width: 100%;	*/
	/*line-height: 10px;*/
	/*line-height: 25px;*/
	/*vertical-align: center;*/
	}
#copyright p {
	/*vertical-align: center;*/
	color: white;
	line-height: 50px;
}

ul, li {
	/*display: inline;*/
	/*list-style-type: none;*/
	}

