* {
	margin:0;
	padding:0;
}

@font-face { 
    font-family: 'Capture It'; 
    src: url('Capture it.ttf'); 
}
/*@font-face{
	font-family: 'Nixie One Regular';
	src: url('NixieOne.ttf');
}*/

body {
	background-image: url(background1.jpg);
	/*padding-top: 250px;*/
	font-family: 'Nixie One Regular';
	font-size: 1.2em;
}

header {
	height:370px;
	top:0;
	width: 100%;
	overflow:hidden;
	padding:0;
}

p {
	font-family:Times;
}



/*.header-slide{
	top:-300px;
    z-index: 100;
    width: 100%;
}*/

.slide {
	object-fit:cover;
}

.main-nav {	
	/*height: 50px;*/
	z-index: 150;
    font-family: 'Capture It'; 
}

#marginFix {
	text-align: center;
	background-color: black;
	width: 100%;

}


#navMenu ul {
	/*height: 30px;*/
	width: 100%;
}

#navMenu ul li{
	width: 100%;
}

#navMenu li {
	display: block;
	width: 20%;
	/*height: 40px;*/
	/*background-color: black;*/
	/*line-height: 0px;*/
	/*float:left;*/
	/*margin-left: auto ;*/
	/*margin-right: auto;*/
	position: relative;
	/*margin: 0;*/
}

.floatleftlinks{
	float:left;
	width: 100%;
}
.subMenuLinks{
	display: block;
	width: 100px;
}

#navMenu li:hover > a{
	background-color: brown;
	/*line-height: 10px;*/
}

#navMenu li a:hover {
	/*display: block;*/
	background-color: brown;
	/*float: left;*/
}

#navMenu li a{ 
	color:white;
	text-decoration: none;
	display: block;
	line-height: 25px;
	/*height: 0;*/
	/*width: 250px;*/
	/*border: 1px solid white;*/
	background-color: black;
	padding: 15px;
	}

.subMenu {
	display:none;
	position: absolute;
	}
.subMenu li{
	width: 100%;
}
#navMenu li:hover .subMenu{
	display: block;
	}

.subMenu li a{
	text-decoration: none;
	}

.active1 {
	font-size:40px;
	/*border:1px solid white;*/
	/*color: purple;*/
	}

.navbar-fixed {
	top:0;
    z-index: 100;
  	position: fixed;
    width: 100%;
    /*font-family: 'Capture It'; */
	}

.wrapper {
	height: 1050px;
	width: 1100px;
	margin: 0 auto;
	padding: 15px;
	z-index: 70;
	}

section {
    padding: 7px;
}    .col1 {
        float: left;
        width: 750px;
        text-align: justify;
    }
    .col2 {
        float: right;
        width: 300px;
        border-left: 1px solid#2B2D3C;
    } 
/*    .right {
        float: right;
        margin: 5px;
    }
    .left {
        float: left;
        margin: 5px;
    }*/

div.box {
	margin-right: 5px;
	margin-top: 5px;
	border: 1px solid gray;
	width: 200px;
	float: left;
	}	

div.box:hover {
	border: 1px solid #2B2D3C;
	}

div.box img {
	position: relative;
	width: 200px;
	height: 300px;
	object-fit:contain;
	}

div.desc {
	padding: 15px;
	text-align: center;
	}
div.desc a:link{
	font-weight: bold;
	color:black;
	text-decoration: none;
}
.desc a:visited{
	font-style: italic;
	color:pink;
}
.desc a:hover{
	font-style: italic;
}
.thumb {
	float: left;
	width: 200px;
	height: 300px;
    background-position: center center;
    background-size: cover;
    }

.thumb:hover{
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);
	}

#contacts {
	clear: both;
}


footer {
	border: 1px solid black;
	background-color: black;
	height: 50px;
	display: block;
	/*vertical-align: center;*/
	/*text-align: center;*/
}

#footerMenu {
	float: left;
	/*vertical-align: center;*/
	/*line-height: 25px;*/
	/*width: 40px;*/
	/*padding-left: none;*/
	/*padding-top: 10px;*/
	}

#footerMenu a {
	text-decoration: none;
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	/*vertical-align: center;*/
	}

#footerMenu a:hover {
	/*color: yellow;*/
	/*display: block;*/
	background-color: brown;	
}

#footerMenu ul li {
	/*padding-left: 20px;*/
	float: left;
	list-style-type: none;
	display: block;
	/*line-height: 25px;*/
	/*border: 1px solid black;*/
	/*height: 50px;*/
	width: 100px;
	text-align: center;
	/*vertical-align: center;*/
	}

#footerMenu ul {
	display: block; 	
	/*vertical-align: 25px;*/	
	/*padding-left: 10px;*/ 	
	/*line-height: 25px;*/
}

#copyright {
	float: right;
	padding-right: 20px;
	/*height: 100%;*/
	/*width: 100%;	*/
	/*line-height: 10px;*/
	/*line-height: 25px;*/
	/*vertical-align: center;*/
	}
#copyright p {
	/*vertical-align: center;*/
	color: white;
	line-height: 50px;
}
