/*This is the css stylesheet for the taekwondo page - part of the business website as part of the NYCDA course Full-Stack Webdevelopment*/

/*General CSS*/
@font-face { 
    font-family: 'Capture It'; 
    src: url('Capture it.ttf'); 
}
@font-face{
	font-family: 'Nixie One Regular';
	src: url('NixieOne.ttf');
}
body{ 
	height:100%;
	width:100%;
	position: relative;
	background-color:transparent;
	background-image:url("./background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding-top: 250px;
	margin:0;
	overflow-x: hidden;
	}

h1 {
	color:black;
	font-family:'Nixie One Regular';
	font-style:;
	font-size:px;
	margin: px;
	text-align:center;
	text-shadow:;
}

h2 {
	color:black;
	font-family:'Nixie One Regular';
	font-style:;
	font-size:px;
	margin: px;
	text-align:;
	text-shadow:;	
}

h3 {
	color:black;
	font-family:'Nixie One Regular';
	font-style:;
	font-size:px;
	margin: px;
	text-align:;
	text-shadow:;
}

p { 
	color:black;
	font-family:'Nixie One Regular';
	font-size:20px;
	text-align:justify;
}

a{
	color:;
	text-decoration:;
	font-style:;	
}

.left{ 
	float:left;
	margin:20px;
}
.big_wrapper{
	width:100%;
	position: relative;
	padding-bottom: 20px;
}

/* Content wrap */

.content_wrap{
	width:80%;
	top:0;
	margin: 20px auto;
	background-color: white;
}


/*Navigation / Header */
header{
	height:300px;
	position:fixed;
	top:0;
	width: 100%;
	overflow:hidden;
	padding:0;
}
img.slide{
	object-fit:cover;
}

.main-nav{
	background-color: black;
	height: 3em;
	width:100%;
	top:5px;
	text-align: center;
	vertical-align: center;
	position: relative;
	z-index: 150;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
	border:0;
	border-radius: 0px;
}

a{
	font-size:30px;
	font-family: 'Capture It' ;
	color:white;
	text-transform: uppercase;
	text-decoration: none;
	padding:20px 10px;
	text-align: center;
	vertical-align: center;
}

.active1{
	font-size:50px;
}

.navbar-fixed {
    top:0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}



/*nav ul>li {
        list-style-type: none;
        display:inline;
    }*/

/* Social button(s) */

/*.social{
	position: fixed;
	top: 40%;
	left: 5px;
	width:auto;
	height:auto;
	margin:15px;
} 
.button-fb {
    background-color:; 
    border:;
    color:;
    padding:px;
    text-align:;
    text-decoration:;
    display: inline-block;
}*/

/* Footer */ 

footer {
	clear:both;
	position:absolute;
	padding:10px;
	background-color:#7D4427;
	text-align:center;
	width:100%;
	height:10px;
	bottom:0;
}

footer span{ 
	font-family: tahoma;
	font-size:15px;
	color:white;
	padding:20px 10px;
}

footer a{
	font-size:15px;
	font-family: tahoma;
	color:white;
	font-style: bold;
	text-decoration: none;
	padding:20px 10px 0px;

}